<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.glide_library"
>
    <application >
        <meta-data
            android:name="com.glide_library.MyGlideMoudle"
            android:value="GlideModule" />
    </application>

</manifest>
